<form class="searchAdd">
  <input type="text" class="searchInput form-control" placeholder="Search" [(ngModel)]="searchName" name="searchName">
  <button type="button" class="btnAdd" (click)="openModal(template)">Add</button>
</form>

<table class="table">
  <thead>
    <tr class="title">
      <th scope="col">Видима<br>корист.</th>
      <th scope="col">Назва</th>
      <th scope="col">Ціна,<br>грн</th>
      <th scope="col">К-сть,<br>шт.</th>
      <th scope="col">Серія</th>
      <th scope="col">Рік</th>
      <th scope="col">Метал</th>
      <th scope="col">Номінал,<br>грн</th>
      <th scope="col">Image</th>
      <th scope="col">Додати, <br>змінити фото</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coin of list; let i=index">
      <td>
        <input name="isVisibleForUsers" #isVisibleForUsers="ngModel" type="checkbox"
          [(ngModel)]="coin.isVisibleForUsers" (change)="fieldsChange(coin)">
      </td>
      <td (click)="onEdit(coin, template)">{{ coin.name }}</td>
      <td (click)="onEdit(coin, template)">{{ coin.price}}</td>
      <td (click)="onEdit(coin, template)">{{ coin.count}}</td>
      <td (click)="onEdit(coin, template)">{{ coin.series}}</td>
      <td (click)="onEdit(coin, template)">{{ coin.year}}</td>
      <td (click)="onEdit(coin, template)">{{ coin.metal}}</td>
      <td (click)="onEdit(coin, template)">{{ coin.denomination}}</td>
      <td>
        <ul *ngFor="let image of coin.images;">
          <img *ngIf="(image.isTitle == true)" [attr.src]="image.url" class="card-img-top">
        </ul>
        <ul *ngIf="(coin.images.length == '0')" class="noImageSmall card-img-top">
        </ul>
      </td>
      <td>
        <input type="button" value="Image" (click)="openModalImage(imageBox, coin)" class="btnImage">
      </td>
      <td>
        <input type="button" value="X" (click)="deleteProduct(coin)" class="btnDelete">
      </td>
    </tr>
  </tbody>
</table>

<div class="pagesBox">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="paginaAnt()">
          <</a> </li> <li class="page-item">
            <a class="page-link"> {{ page+1 }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="proxPagina()">></a>
      </li>
      <li class="page-item disabled">
        <span class="page-link">Total: {{ totalPages }}</span>
      </li>
    </ul>
  </nav>
</div>


<ng-template #imageBox>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Додай/зміни фото</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modalBody">
    <form>
      <div class="form-group" *ngIf="isArrayImages">
        <table class="imageTable">
          <thead>
            <tr class="title">
              <th scope="col">#</th>
              <th scope="col">Фото</th>
              <th scope="col">Головне <br> фото</th>
              <th scope="col">Видалити</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let image of images; let i=index">
              <td>{{ i+1 }}</td>
              <td>
                <img [attr.src]="image.url" class="littleImage">
              </td>
              <td>
                <input type="radio" name="isTitle" [checked]="image.isTitle" (change)="changeStatusTitleImage(image)">
              </td>
              <td>
                <input type="button" value="x" (click)="deleteImage(image)" class="btnDelete">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group">
        <h5 class="card-title">Select a file for upload:</h5>
        <input class="form-control" type="file" (change)="upload($event)" accept=".png,.jpg">
        <img class="littleImage" [src]="images" alt="">
      </div>
      <div class="form-group">
        <button type="button" (click)="addImages(images)" class="btn btn-info">Додати фото</button>
      </div>
    </form>
  </div>
</ng-template>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Додай/зміни товар</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modalBody">

    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

      <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
      <input type="hidden" name="categoryId" #categoryId="ngModel" [(ngModel)]="service.formData.categoryId">
      <input type="hidden" name="reserved" #reserved="ngModel" [(ngModel)]="service.formData.reserved">
      <input type="hidden" name="isAvailable" #isAvailable="ngModel" [(ngModel)]="service.formData.isAvailable">

      <div class="field">
        <div class="titleField">Категорія:</div>
        <select (change)="selectCategory($event)" name="categoryName" class="custom-select" #categoryName="ngModel"
          [(ngModel)]="service.formData.categoryName" required>
          <option disabled selected>Choose category</option>
          <option *ngFor="let item of adminCategories" [value]="item.name">
            {{item.name}}</option>
        </select>
      </div>

      <div class="field">
        <div class="titleField">Назва товару:</div>
        <input name="name" #name="ngModel" [(ngModel)]="service.formData.name" class="form-control" required>
      </div>

      <div class="field">
        <div class="titleField">Кількість:</div>
        <input type="number" name="count" #count="ngModel" [(ngModel)]="service.formData.count" class="form-control"
          pattern="[1-9]{1,}" required>

      </div>

      <div class="field bootstrap-select show-tick open">
        <div class="titleField">Серія:</div>
        <select class="custom-select" #series="ngModel" [(ngModel)]="service.formData.series" name="series">
          <option> Видатні особистості України</option>
          <option> Античні пам`ятки України</option>
          <option> Вищі навчальні заклади України</option>
          <option> Відродження української державності</option>
          <option> Відродження християнської духовності в Україні</option>
          <option> Герої козацької доби </option>
          <option> Героям Майдану</option>
          <option> Гетьманські столиці</option>
          <option> Дитячий Зодіак</option>
          <option> Друга світова війна</option>
          <option> Духовні скарби України</option>
          <option> Збройні Сили України</option>
          <option> Знаки зодіаку</option>
          <option> Інші монети</option>
          <option> Княжа Україна</option>
          <option> Літаки України</option>
          <option> Міста-герої України</option>
          <option> Морська історія України</option>
          <option> На межі тисячоліть</option>
          <option> Найменша золота монета</option>
          <option> Народні музичні інструменти</option>
          <option> Народні промисли та ремесла</option>
          <option> Області України</option>
          <option> Обрядові свята України</option>
          <option> Пам'ятки архітектури України</option>
          <option> Пам'ятки давніх культур України</option>
          <option> Славетні роди України</option>
          <option> Спорт </option>
          <option> Стародавні міста України </option>
          <option> Сувенірна продукція </option>
          <option> Східний календар </option>
          <option> Україна космічна </option>
          <option> Українська спадщина </option>
          <option> Фауна в пам`ятках культури України</option>
          <option>Флора і фауна</option>
          <option> 2000-ліття Різдва Христового</option>
          <option> Інша серія </option>
        </select>
      </div>

      <div class="field bootstrap-select show-tick open">
        <div class="titleField">Рік випуску:</div>
        <select class="custom-select" #year="ngModel" [(ngModel)]="service.formData.year" name="year">
          <option>1991</option>
          <option>1992</option>
          <option>1993</option>
          <option>1994</option>
          <option>1995</option>
          <option>1996</option>
          <option>1997</option>
          <option>1998</option>
          <option>1999</option>
          <option>2000</option>
          <option>2001</option>
          <option>2002</option>
          <option>2003</option>
          <option>2004</option>
          <option>2005</option>
          <option>2006</option>
          <option>2007</option>
          <option>2008</option>
          <option>2009</option>
          <option>2010</option>
          <option>2011</option>
          <option>2012</option>
          <option>2013</option>
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
          <option>2022</option>
          <option>2023</option>
          <option>2024</option>
          <option>2025</option>
        </select>
      </div>

      <div class="field bootstrap-select show-tick open">
        <div class="titleField">Метал:</div>
        <select class="custom-select" #metal="ngModel" [(ngModel)]="service.formData.metal" name="metal">
          <option>біметалеві із дорогоцінних металів</option>
          <option>біметалеві із недорогоцінних металів</option>
          <option>золото</option>
          <option>інша нумізматична продукція</option>
          <option>мельхіор</option>
          <option>нейзильбер</option>
          <option>сплав на основі цинку</option>
          <option>срібло</option>
        </select>
      </div>

      <div class="field bootstrap-select show-tick open">
        <div class="titleField">Номінал</div>
        <select class="custom-select" #denomination="ngModel" [(ngModel)]="service.formData.denomination"
          name="denomination">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>5</option>
          <option>10</option>
          <option>20</option>
          <option>50</option>
          <option>100</option>
          <option>125</option>
          <option>180</option>
          <option>200</option>
          <option>250</option>
          <option>540</option>
          <option>1080</option>
          <option>200000</option>
          <option>1000000</option>
          <option>2000000</option>
        </select>
      </div>

      <div class="field">
        <div class="titleField">Ціна:</div>
        <input type="number" name="price" #price="ngModel" [(ngModel)]="service.formData.price" class="form-control"
          required>
      </div>

      <div class="field">
        <div class="titleField">Опис:</div>
        <textarea type="text" name="description" #description="ngModel" [(ngModel)]="service.formData.description"
          class="form-control">
            </textarea>
      </div>

      <input type="hidden" name="images" #images="ngModel" [(ngModel)]="service.formData.images">

      <div class="field">
        <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
      </div>

    </form>


  </div>
</ng-template>
