tr img{
    height: 35px;
    width: 35px;

}
tr img:hover{
transform: scale(2.5);
}
img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-style: hidden;
    font-weight: 600;
  }
.modalBody{
    padding: 3%;
    
}
