img{
    width: 100px;
    height: 100px;
}

.titleField{
    font-size: 15px;
    padding: 0 0 0 2%;
    font-family: "Courier New", Courier, monospace;
}
.field{
    margin: 0 auto 2%;
}
.modalBody{
    padding: 3%;
}
.table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-style: hidden;
    font-weight: 600;
  }
  .imagesBox{
      display: flex;
      justify-content: space-around;
      margin: 3% auto;
      position: relative;
  }

  .deleteBtn{
    background-color: #f2bd0b;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    position: absolute;
    font-size: 14px;
    
  }