.container-fluid{
  padding: 2% 10%;
}
.basket{
  background-color: white;
  opacity: 0.9;
  border:1px solid #f2bd0b;
  border-radius: 3px;
  padding: 2% 5%;
}

.dataOrder{
  display: flex;
  justify-content: space-around;
  margin: 2% 0;
}

.imageArtilce {
  height: 60px;
  width: 70px;
}
.doOrder{
  background-color: #f2bd0b;
  border: 1.5px solid #6c6133;
  font-size: 17px;
  font-weight: 600;

}
.dataUser {
  width: 49%;
  background-color: white;
  opacity: 0.9;
  border:1px solid #f2bd0b;
  border-radius: 3px;
  padding: 3%;
  height: max-content;

}

table {
  border-collapse: collapse;
  border-style: hidden;
  font-weight: 600;

}

table td, table th {
  border: 1px solid black;
}
.title{
  font-size: 19px;
  color: black;
  margin: 1% 2% 5%;
  font-weight: bold;
 
}
.btnDelete{
  background-color: #f2bd0b;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-weight: 600;
  padding: 0px 5px;
  text-align: center;
  font-size: 14px;
}
.title:hover{
  text-decoration: underline;
}
.deliveryPayment {
  width: 49%;
}
.dellivery .form-check{
border-bottom: 1px solid black;
}

.delivery {
  height: auto;
  background-color: white;
  opacity: 0.9;
  border:1px solid #f2bd0b;
  border-radius: 3px;
  padding: 3%;
}
.payment{
    height: auto;
    margin:  0 0 3% 0;
    background-color: white;
    opacity: 0.9;
    border:1px solid #f2bd0b;
    border-radius: 3px;
    padding: 3%;
}

.tableBasket {
  width: 100%;
  text-align: center;
}
.thImage{
  width: 15%;
}
.thTitle{
  width: 45%;
}
.thPrice{
  width: 10%;
}
.thCount{
  width: 15%;
}
.thSuma{
  width: 10%;
}
.thBtnDelete{
  width: 5%;
}

.tableBasket tr,
td {
  text-align: center;
  padding: 1% ;
}
.tableBasket tr{
  height: 20px;
}

.counter {
  display: flex;
  margin: 0 15%;
}
.count{
  width: 50px;
  font-weight: 600;
    text-align: center;
    font-size: 15px;
    border: 1px solid black;
    border-right: none;
    border-left: none;
}
.minus{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid black;
}
.plus{
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid black;
}
.tdFont{
  font-size: 14px;
}
.titleGroup{
  display: flex;
  justify-content: flex-start;
  margin-top: 4%;
}
.dataOrder img{
  width: 53px;
  height: 33px;
  margin: -2% 1% 0;

}
