<div class="container-fluid">
  <!-- <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)"> -->

  <input type="hidden" name="id" [(ngModel)]="id">
  <div class="basket">
    <table class="tableBasket">
      <thead>
        <tr>
          <th class="thImage" scope="col">Фото</th>
          <th class="thTitle" scope="col">Найменування</th>
          <th class="thPrice" scope="col">Ціна</th>
          <th class="thCount" scope="col">Кількість</th>
          <th class="thSuma" scope="col">Сумма</th>
          <th class="thBtnDelete" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of articles; let i=index">
          <td>
            <img [attr.src]="item.image" class="imageArtilce">
          </td>
          <td class="tdFont">{{ item.name }} {{ item.denomination }} {{ item.year }}</td>
          <td class="tdFont">{{ item.price }} грн </td>
          <td>
            <div class="counter">
              <button type="button" class="minus" (click)="statusCount(false,item)">-</button>
              <input class="count" name='count' type="number" [(ngModel)]="item.count">
              <button type="button" class="plus" (click)="statusCount(true,item)">+</button>
            </div>
          </td>
          <td class="tdFont"> {{ item.price * item.count }} грн</td>
          <td>
            <input type="button" value="x" (click)="deleteItem(item)" class="btnDelete"> 
          </td>
        </tr>


        <tr>
          <td colspan="6" class="text-right title ">
            Сума замовлення :

            <span> {{ totalSumOrder }} грн</span>
            <!-- <input type="number"  name="totalSumOrder" #totalSumOrder="ngModel"
              [(ngModel)]="service.formData.totalSumOrder" value="Разом {{ totalSumOrder }}"> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="dataOrder">

    <div class="dataUser">
      <form>
        <p class="title"> Контактні дані</p>
        <input type="hidden" name="idUser" [(ngModel)]="idUser">
        <div class="form-group row">
          <input type="text" class="form-control" name="firstName" required [(ngModel)]="firstName" id="firstName"
            placeholder="Ім'я">
        </div>
        <div class="form-group row">
          <input type="text" class="form-control" name="lastName" required [(ngModel)]="lastName" id="lastName"
            placeholder="Прізвище">
        </div>
        <div class="form-group row">
          <input type="email" required class="form-control" [(ngModel)]="email" name="email" placeholder="Email*">
        </div>
        <div class="form-group row">
          <input type="text" class="form-control" name="phone" required [(ngModel)]="phone" id="phone"
            placeholder="Номер телефону">
        </div>
        <div class="form-group row">
          <input type="text" class="form-control" name="address" required [(ngModel)]="address" id="address"
            placeholder="Адреса доставки">
        </div>
        <div class="form-group row">
          <textarea type="text" name="comment" [(ngModel)]="comment" class="form-control"
            placeholder="Коментар до замовлення">
          </textarea>
        </div>
      </form>
      <button type="button" (click)="addOrder(firstName, lastName, email, phone, address, comment, payment, delivery)"
        class="doOrder btn">Оформити замовлення</button>

    </div>



    <div class="deliveryPayment">
      <div class="payment">
        <form>
          <p class="title">Спосіб оплати</p>
          <div class="form-group">
            <div class="titleGroup">
              <input type="radio" [checked]="true" value="Приват Банк" name="payment" [ngModel]="payment"
                (click)="paymentWay($event)">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/test-dd969.appspot.com/o/icons%2Flogo-privatbank.50x50.jpg?alt=media&token=96224139-12ef-463a-bd2c-5eff35d27105"
                alt="">
              <b> На Карту Приватбанку</b>
            </div>
            <p>  Оплата на карту Приватбанку <b>5555 5555 5555 5555</b>  (отримувач Іваненко Іван Іванович).
              Комісія з переказу в системі Privat24 - 0%</p>
          </div>
          <hr>
          <div class="form-group">
            <div class="titleGroup">
              <input type="radio" [checked]="false" value="Оплата при отриманні" name="payment" [ngModel]="payment"
                (click)="paymentWay($event)">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/test-dd969.appspot.com/o/icons%2Fcash.50x50.jpg?alt=media&token=3de901e1-46f1-4b13-9098-6cfdf6724356"
                alt="">
              <p><b> Оплата при отриманні</b> (Післяплата, Наложений платіж)</p>
            </div>

          </div>

        </form>
      </div>


      <div class="delivery">
        <form>
          <p class="title">Спосіб доставки</p>
          <div class="form-check">
            <div class="titleGroup">
              <input type="radio" value="Нова пошта" name="delivery" [ngModel]="delivery" (click)="deliveryWay($event)">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/test-dd969.appspot.com/o/icons%2Fnovaposhta-logo.50x50.png?alt=media&token=ef8c7909-78ce-4d97-b3a1-4895ec685d7c"
                alt="">
              <p> <b> Нова Пошта </b>(Сплачується окремо при отриманні посилки)</p>
            </div>
          </div>
          <hr>




          <div class="form-check">
            <div class="titleGroup">
              <input type="radio" value="Укрпошта" name="delivery" [ngModel]="delivery" (click)="deliveryWay($event)">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/test-dd969.appspot.com/o/icons%2Fukrposhta.50x50.png?alt=media&token=3b242f9a-dee9-43ff-af17-0c3538fd57a4"
                alt="">
              <p> <b> Укрпошта </b>(Сплачується окремо при отриманні посилки)</p>
            </div>
          </div>

          <hr>

          <div class="form-check">
            <div class="titleGroup">
              <input type="radio" value="Особиста зустріч" name="delivery" [ngModel]="delivery"
                (click)="deliveryWay($event)">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/test-dd969.appspot.com/o/icons%2Fsamovyvoz.50x50.png?alt=media&token=c3082cee-26a9-4f77-b120-238613d0b78c"
                alt="">
              <p> <b> Особиста зустріч </b>в Києві(місце та час зустрічі узгоджуються по телефону)</p>
            </div>
          </div>

        </form>
      </div>
    </div>


  </div>

  <!-- <div class="form-group row"> -->
  <!-- <button type="submit" [disabled]="form.invalid" class="btn btn-info">Оформити замовлення</button> -->
  <!-- <button type="button" (click)="addOrder(firstName, lastName, email, phone, address, comment, payment, delivery)"
      class="btn btn-info">Оформити замовлення</button>
  </div> -->


  <!-- </form> -->


</div>
