footer {
  padding: 15px 0;
  color: black;
  margin-top: 50px;
  background-color: #8b711d;
  border: 1px solid #6e5d12;
  display: flex;
  justify-content: space-evenly;
}

footer a {
  color: black;
}
.footerRight{
 display: flex;
 justify-content: center;
}
.footerRight a{
  margin: 40%;
}

@media screen and (max-width:768px) and (min-width:320px) {
  footer {
    font-size: 13px;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .footerRight a{
    margin: 0 2%;
  }
}
