footer {
  // background-image: url(/./src/assets/images/bac_image_footer.jpg);
  // background-color: #f8f5f5;
  padding: 15px 0;
  color: black;
  margin-top: 50px;
  // position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #8b711d;
  border: 1px solid #6e5d12;
}

.footer-left a {
  color: black;
  margin-right: 20px;
}

.footer-right a {
  color: black;
  margin-left: 20px;
}

@media screen and (max-width:320px) {
  footer {
    font-size: 12px;
    margin: 0 auto;
  }
  .footer-right{
    margin: 1% 30%;
  
  }
}
