*{
  margin: 0;
  padding: 0;
}
  body {
  min-width: 320px;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #f2bd0b;
}

a :hover {
  color: #6e5d12;

}

header {
  width: 100%;
}

.menu {
  font-weight: 700;
  height: 90px;
  display: flex;
  padding: 35px 0;
  color: #f2bd0b;
  font-size: 18px;
  justify-content: flex-end;
}

.pages ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;

}

.myCabinet a {
  margin: 0 80px 0 200px;
}

header li {
  margin-left: 80px;
  text-transform: uppercase;
}

#navbarSupportedContent li a {
  color: #f2bd0b;
  

}

a.active {
  color: #f2bd0b;
  ;

}


header .nav-item a::after {
  content: '';
  display: block;
  width: 100%;
  background-color: #6e5d12;
  height: 2px;
  transform: scale(0);
  transition: all .3s;
}

header .nav-item a:hover::after {
  transform: scale(1);

}

.navigation {
  height: 90px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  // padding-top: 25px;
  background-color: #8b711d;
  border: 1px solid #6e5d12;
  padding: 25px 100px 0;

}

.phone {
  width: 15%;
  // margin: 0px 5% 0 10%;
  font-size: 17px;
  font-weight: 700;

}

.phone a {
  text-decoration-line: none;
  color: black;

}

.search {
  width: 50%;
  margin-right: 2%;
  padding-right: 45px;

}

.basketBox {
  // width: 20%;
  display: inline-block;
  position: relative;
  height: 32px;
  // padding-left: 45px;
  font-size: 13px;
  color: #fff;
  text-decoration-line: none;
  background: url("https://firebasestorage.googleapis.com/v0/b/test-dd969.appspot.com/o/icons%2Fsprite.png?alt=media&token=d8680cc6-6e72-4f51-a43f-39cdec2f0fb9") no-repeat 0 -111px;
}

.basketCounter {
  position: absolute;
  top: -5px;
  left: 18px;
  width: 19px;
  height: 19px;
  line-height: 19px;
  border-radius: 100%;
  background-color: #f2bd0b;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.basketTitle {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #f2bd0b;
  margin-left: 50px;
}

.basketTotal {
  display: block;
  font-weight: bold;
  color: #f2bd0b;
  margin-left: 40px;
}
