<header>

  <nav class="menu">
    <div class="pages">
      <ul>
        <li><a [routerLink]="[ '/coins']" routerLinkActive="active" class="nav-link"
            href="#">Монети</a></li>
        <li><a [routerLink]="[ '/banknote']" routerLinkActive="active" class="nav-link"
            href="#">Банкноти</a></li>
        <li><a [routerLink]="[ '/medals']" routerLinkActive="active" class="nav-link"
            href="#">Медалі</a></li>
        <li><a [routerLink]="[ '/accessories']" routerLinkActive="active" class="nav-link"
            href="#">Аксесуари</a></li>
      </ul>
    </div>

    <div class="myCabinet">
      <a [routerLink]="[ '/sign-in']" routerLinkActive="active" class="nav-link" href="#">Мій кабінет<br>
     </a>
    </div>
  </nav>
  <div class="navigation">
    <div class="phone">
      <a href="#"><i fa [name]="'phone'"></i></a>
      <a href="#"> +38(096)666-66-66</a>
      <br>
      <a href="#"><i fa [name]="'phone'"></i></a>
      <a href="#"> +38(097)777-77-77</a>
    </div>
    <div class="search">
      <div class="fieldSearch">
        <input type="text" [ngModel]="searchName" (ngModelChange)="valuechange($event)"  class="form-control" placeholder="Search">
      </div>
    </div>
    <div class="basketBox" [routerLink]="[ '/basket']" routerLinkActive="active">
      <span class="basketCounter"> {{clickCount}}</span>
      <span class="basketTitle" data-language="index_cart">Кошик</span>
      <span class="basketTotal">{{sumBasket}} грн</span>
    </div>

  </div>


</header>
