
.back{
    color: #f2bd0b;
    font-weight: 600;
}
.imageBig {
  width: 60%;
  height: 100%;
  padding: 4%;
  text-align: center;
  border: 1px solid #f2bd0b;
  background-color: white;
  opacity: 0.9;

}

.description {
  padding: 3%;

}
.container-fluid{
    padding: 2% 10%;
}
.noImageBig {
  width: 100px;
  height: 100px;
  background: url('../../../assets/icon/noImageBig.png') no-repeat;
  margin: 0 auto;
}

.noImageSmall {
  width: 50px;
  height: 50px;
  background: url('../../../assets/icon/noImageSmall.png') no-repeat;
  margin: 0 auto;
}
.imageSmall{
  width: 50px;
  height: 50px;
  margin: 0 auto;

}

.titleProduct {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background-color: white;
  border: 1px solid #f2bd0b;
  opacity: 0.9;
  margin: 2% auto;
  padding: 2%;
  font-family: 'Courier New', Courier, monospace;

}

.imageData {
  display: flex;
  justify-content: space-between;
}

.imageLittle {
  display: flex;
  justify-content: space-between;
}

.imageBox {
  border: 1px solid #f2bd0b;
  background-color: white;
  opacity: 0.9;
  margin: 5% 0 0 0;
  display: flex;
  height: 185px;
  flex-direction: column;
  padding: 2%;
}
.moreImage{
    font-size: 15px;
    margin: 0 auto 4%;
    font-weight: 600;
}
.imageBig img{
    height: 215px;
    transition: 1s;
}
.imageBig img:hover{
    transform: scale(1.4);
    }

.imageLittle img {
  height: 110px;
  margin: 0% auto;
  // border: 1px solid lightgray;
}

.countBox {
  display: flex;
  margin: 0px 0 0 15%;
}

.dataMain {
  width: 37%;
}

.dataPriceCount {
  padding: 2%;
  border: 1px solid #f2bd0b;
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  background-color: white;
  opacity: 0.9;
}

.dataPriceCount table {
  text-align: end;
}

.priceBox {
  padding: 3% 0;
}

.counter {
  display: flex;
  padding: 3% 0;
}

.count {
  width: 50px;
  border: 1px solid black;
  border-right: none;
  border-left: none;
  font-weight: 600;
  text-align: center;
  font-size: 15px;
}

.minus {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid black;
}

.plus {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid black;
}

.buy {
  width: 47%;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #f2bd0b;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
.detaileDescription{
    margin: 3% 0 0 0;
    padding: 4%;
    border: 1px solid #f2bd0b;
    background-color: white;
    opacity: 0.95;
}
