<div class="container">

  <h2 class="card-title">{{ product?.name }}</h2>
  <div class="row">
    <div class="col-7">
      <img [attr.src]="product?.image" class="card-img-top" alt="...">
    </div>
    <div class="col-5">
      <h5 class="text-danger">Card price {{ product?.price }}</h5>
      <div class="d-flex justify-content-between">
        <span class="col ">
          Кількість:
        </span>
        <div class="counter ">
          <span class="minus">−</span>
          <input class="input_amount" type="text" name="amount" value="1">
          <span class="plus">+</span>
        </div>
      </div>
      <!-- <a href="#" class="btn btn-primary" (click)="buyProduct(product)">Купити</a> -->
     <input type="button"  class="btn btn-primary" (click)="buyProduct(product)" value="Купити">
    </div>
  </div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-description-tab" data-toggle="tab" href="#nav-description" role="tab"
        aria-controls="nav-description" aria-selected="true">Опис</a>
      <a class="nav-item nav-link" id="nav-characteristics-tab" data-toggle="tab" href="#nav-characteristics" role="tab"
        aria-controls="nav-characteristics" aria-selected="false">Характеристики</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active mt-4" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
      {{ product?.description }}</div>
    <div class="tab-pane fade mt-4" id="nav-characteristics" role="tabpanel" aria-labelledby="nav-characteristics-tab">


    </div>
  </div>

</div>
