.container-fluid {
  margin-top: 2%;
}

.filters {
  border: 1px solid #f2bd0b;
  border-radius: 3px;
  width: 25%;
  padding: 1.5%;
  background-color: white;
  opacity: 0.9;
  max-height: 480px;
}
form-group{
  margin-bottom: 0;
}
.cardBodySmall {
  display: none;
}

.cardBodyBig {
  display: block;
}
.ng5-slider .ng5-slider-pointer {
  cursor: pointer;
  background-color: #f2bd0b!important;
}

::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-bar {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto;
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;

  }

  .custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 8px;
    margin-left: 4px;
    border-radius: 0;
    background: #9cc59d;
    top: -1px;
  }
  .ng5-slider .ng5-slider-pointer {
    background-color: #f2bd0b!important;
    width: 13px!important;
    padding-right: 16px!important;
    height: 14px!important;
    top: -6px!important;
  }
  .ng5-slider .ng5-slider-selection {
    background: #f2bd0b!important;
}

}

.filterSmallSize {
  display: none;
}

.filterBigSize {
  display: block;
}

.filter_name {
  margin: 1%;
  font-size: 17px;
  font-weight: bold;
}


.main,
.denominationYear {
  display: flex;
  justify-content: space-around;
  width: 100%;

}

ul {
  padding-inline-start: 0;
  margin: 0;
}

.minMaxField {
  display: flex;
  justify-content: space-between;
}

.minValue,
.maxValue {
  width: 45%;
  margin: 2% 0;
}

.boxFilter {
  margin: 3% 0;
}

.selectBox {
  width: 250px;
}

option {
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
}

.noImageBig {
  max-width: 100px;
  height: 100px;
  // background: url('../../../assets/icon/noImageBig.png') no-repeat;
  margin:auto;
}

.ng5-slider-pointer-min,
.ng5-slider-pointer-max {
  background-color: #8b711d;
}

.price_slider {
  margin-bottom: 6%;
}

.priceBuy {
  display: block;
}

.product:hover {
  .buy {
    display: block;
    width: 51%;
  }

  .priceBuy {
    display: flex;
    justify-content: space-between;
  }
  .price{
    width: 49%;
  }

  z-index: 1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
  transform: scale(1.1);

}

.buy {
  display: none;
}


.card-body {
  padding: 0;
}

.card-body p {
  margin: 1% 0;
  font-weight: bold;
  vertical-align: middle;
  font-size: 13px;
}

.title {
  display: flex;
  height: 70px;
  font-size: 13px;
  justify-content: center;
  word-wrap: break-word;
  overflow: hidden;
  align-items: center;
  line-height: 1.2;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 12px;
  max-height: 48px;
}

.title:hover {
  color: #b68e09;
}

.buy {
  height: 25px;
  width: 30%;
  line-height: 25px;
  border: 1px solid #848282;
  border-radius: 3px;
  color: black;
  text-decoration: none;
  font-size: 12px;
  background-color: #f2bd0b;
  font-weight: 600;
}


.moreDetails:hover {
  box-shadow: -1px 0px 4px 0px #787272;
}

.buy:hover {
  box-shadow: -1px 0px 4px 0px #787272;
  width: 51%;

}

.mainImage{
  width: 100px;
  height: 100px;
}

// .product img {
//   // width: 80px;
//   // height: 80px;
//     // margin: 10% auto;
// }

.catalog {
  width: 70%;
  margin: 0 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition-duration: 0.7;
  transition-property: transform;
}

.product {
  width: 21%;
}

@media screen and (max-width:1200px)and (min-width:769px) {
 
  .mainImage{
    width: 80px;
    height: 80px;
  }

  .noImageBig {
    width: 80px;
    height: 80px;
    margin: auto;
    background: url('../../../assets/icon/noImageMobile.png') no-repeat;
  }
}


@media screen and (max-width:768px) and (min-width:320px) {
  .main {
    display: block;
  }

  .catalog {
    width: 100%;
    margin: 0;
  }


  .filters {
    width: 90%;
    margin: 0 auto 1% auto;
  }
  .filters{
    padding: 0;
  }

  .cardBodySmall {
    display: block;
    width: 60%;
    margin: 0 0 0 3%;
  }

  .cardBodySmall p {
    font-size: 12px;
  }

  .cardBodyBig {
    display: none;
  }

  .filterSmallSize {
    display: block;
  }

  .filterBigSize {
    display: none;
  }

  .priceBuy,
  .yearDenomination {
    display: flex;
    justify-content: space-evenly;
  }

  .buySmall {
    display: block;
    height: 25px;
    width: 47%;
    line-height: 25px;
    border: 1px solid #848282;
    border-radius: 3px;
    background-color: #f1e8e8;
    color: black;
    margin-top: 3px;
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    align-items: 20px;
    text-align: center;
    background-color: #f2bd0b;
  }

  .product {
    width: 90%;
    margin: 0 0 1% 0;
    display: flex;
    padding: 3% 2.5%;
  }

  .product:hover {
    transform: scale(1.05);
  }

  .imageBox {
    width: 35%;
    // height: 130px;
    // line-height: 130px;
  }

  .search {
    width: 270px;
  }

  .mainImage{
    // width: 100px;
    height: 100px;
    outline: #f2bd0b solid 1px;
    outline-offset: 5px;
    max-width: 100%;
  }

  .noImageBig {
    // margin: auto;
    // background: url('../../../assets/icon/noImageBig.png') no-repeat;
    outline: #f2bd0b solid 1px;
    outline-offset: 5px;
    // width: auto;
    // background-position: center center;
    // background-clip: ;

   
  }
}
