.container-fluid {
  margin-top: 2%;
}

.filters {
  border: 1px solid #f2bd0b;
  border-radius: 3px;
  width: 25%;
  padding: 1.5%;
  background-color: white;
  opacity: 0.9;
}
.cardBodySmall{
  display: none;
}
.cardBodyBig{
  display: block;
}
::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-bar {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto;
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;

  }

  .custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 8px;
    margin-left: 4px;
    border-radius: 0;
    background: #9cc59d;
    top: -1px;
  }

}

.filterSmallSize {
  display: none;
}
.filterBigSize {
  display: block;
}

.filter_name {
  margin: 1%;
  font-size: 17px;
  font-weight: bold;
}


.main {
  display: flex;
  justify-content: space-around;
  width: 100%;

}

ul {
  padding-inline-start: 0;
}

.minMaxField {
  display: flex;
  justify-content: space-between;
}

.minValue,
.maxValue {
  width: 45%;
  margin: 2% 0;
}

.boxFilter {
  margin: 3% 0;
}

.selectBox {
  width: 250px;
}

option {
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
}

.noImageBig {
  width: 100px;
  height: 100px;
  background: url('../../../assets/icon/noImageBig.png') no-repeat;
  margin: 0 auto;
}

.ng5-slider-pointer-min,
.ng5-slider-pointer-max {
  background-color: #8b711d;
}

.price_slider {
  margin-bottom: 6%;
}

.product:hover {
  .button-group {
    display: flex;
    justify-content: center;
  }
  z-index: 1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
  transform: scale(1.2);

}

.button-group {
  display: none;
}


.card-body {
  padding: 0;
}

.card-body p {
  margin: 1% 0;
  font-weight: bold;
  vertical-align: middle
}

.title {
  display: block;
  max-height: 30px;
  font-size: 13px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title:hover {
  color: #b68e09;
}

.moreDetails,
.buy {
  height: 25px;
  width: 47%;
  line-height: 25px;
  border: 1px solid #848282;
  border-radius: 3px;
  background-color: #f1e8e8;
  color: black;
  margin-top: 3px;
  text-decoration: none;
  font-size: 10px;
  font-weight: 700;
  align-items: 20px;
  text-align: center;
}

.buy {
  background-color: #f2bd0b;
  margin-left: 2%;
}

.moreDetails:hover {
  box-shadow: -1px 0px 4px 0px #787272;
}

.buy:hover {
  box-shadow: -1px 0px 4px 0px #787272;

}


.product img {
  max-width: 110px;
  height: 100px;
  margin: 0 auto
}

.catalog {
  width: 70%;
  margin: 0 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition-duration: 0.7;
  transition-property: transform;
}

.product {
  width: 21%;
}

@media screen and (max-width:1200px)and (min-width:769px) {
  .product img {
    width: 80px;
    height: 80px;

  }
}


@media screen and (max-width:768px) and (min-width:320px) {
  .main {
    display: block;
  }

  .catalog {
    width: 100%;
    margin: 0;
  }


  .filters {
    width: 100%;
  }
  .cardBodySmall{
    display: block;
  }
  .cardBodyBig{
    display: none;
  }

  .filterSmallSize {
    display: block;
  }
  .filterBigSize {
    display: none;
  }
  .priceBuy,
  .yearDenomination{
    display: flex;
    justify-content: space-evenly;
  }
  
  .buySmall{
    display: block;
    height: 25px;
    width: 47%;
    line-height: 25px;
    border: 1px solid #848282;
    border-radius: 3px;
    background-color: #f1e8e8;
    color: black;
    margin-top: 3px;
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    align-items: 20px;
    text-align: center;
    background-color: #f2bd0b;
  }

  .product {
    width: 95%;
    margin: 0 0 1% 0;
    height: 140px;
    display: flex;
  }

  .product:hover {
    transform: scale(1.05);
  }

  .imageBox {
    width: 35%;
    height: 100px;
    line-height: 100px;
  }

  .search {
    width: 270px;
  }

  .main {
    display: block;
  }

}
