.container-fluid {
  margin-bottom: 25%;
}

.filters {
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 300px;
  padding: 2%;
  height: 455px;
}

::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-bar {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-selection {
    background: orange;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto;
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: darkgreen;
  }

  .custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 8px;
    margin-left: 4px;
    border-radius: 0;
    background: #9cc59d;
    top: -1px;
  }

  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: darkgreen;
  }
}

.filter-name {
  margin: 1% 0;
}

.filter-name:hover {
  font-size: 20px;

}

.main {
  display: flex;
  justify-content: space-around;
  margin: 0 2%;
  width: 100%;

}

.coin {
  padding: 10px;
  margin: 2% 2%;
  width: 20%;
  height: 250px;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transition: 0.7s;
  transition-property: transform;
}

.coin:hover {
  .button-group {
    display: flex;
    justify-content: center;

  }

  z-index: 1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);
  transform: scale(1.2);

}

.button-group {
  display: none;
}


.card-body {
  padding: 0;
}

.card-body p {
  margin: 2% 0;
  font-size: 13px;
  font-weight: 700;
  vertical-align: middle
}

.title {
  display: block;
  text-overflow: inherit;
  height: 40px;
  overflow: hidden;
}

.title:hover {
  color: darkgreen;
}

.moreDetails,
.buy {
  height: 25px;
  width: 47%;
  line-height: 25px;
  border: 1px solid #848282;
  border-radius: 3px;
  background-color: #f1e8e8;
  color: black;
  box-shadow: -1px 0px 4px 0px #787272;
  margin-top: 3px;
  text-decoration: none;
  font-size: 10px;
  -webkit-box-align: 20px;
  align-items: 20px;
  text-align: center;
}

.buy {
  background-color: #b6dcb6;
  margin-left: 2%;
 
}


.coin img {
  width: 115px;
  height: 120px;
  margin: 0 auto
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 20%;
  padding: 0px 3%;
}



.catalog {
  width: 1000px;
  margin: 0 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition-duration: 0.7;
  transition-property: transform;
}

@media screen and (max-width:992px) {
  .catalog {
    width: 650px;
  }

  .search {
    margin-left: 0;
  }

  .filters {
    width: 300px;
  }

  .coin {
    width: 29%;
  }

  .coin img {
    width: 80px;
    height: 80px;

  }
}

@media screen and (max-width:768px) {
  .catalog {
    width: 500px;
  }

  .filters {
    width: 250px;
  }

  .coin {
    width: 40%;
  }

}


@media screen and (max-width:480px) {
  .catalog {
    width: 420px;
  }

  .search {
    width: 420px;
  }

  .filters {
    width: 420px;
  }

  .coin {
    width: 80%;
  }

}

@media screen and (max-width:320px) {
  .catalog {
    width: 270px;
  }

  .filters {
    width: 270px;
  }

  .search {
  width: 270px;
  }

  .main {
    display: block;
  }

}
