<div class="container-fluid">

  <div *ngIf="!signStatus" class="registration">
    <form #formSm="ngForm" autocomplete="off" (submit)="onSubmit(formSm)">
      <div class="form-group row">
        <input type="text" #userName="ngModel" autocomplete="name" name="userName"
          [(ngModel)]="share.formDataSm.userName" class="form-control row" placeholder="name"
          pattern="[A-Za-z\u0400-\u04FF][a-z\u0400-\u04FF]{1,19}">
        <div *ngIf="userName.invalid && userName.touched" class="validation-error">Введіть кількість відмінну від 0
        </div>
      </div>
      <div class="form-group row">
        <input type="password" name="password" autocomplete="new-password" #password="ngModel"
          [(ngModel)]="share.formDataSm.password" class="form-control row" placeholder="Пароль">
        <!-- <div *ngIf="formSm.invalid " class="validation-error">Введіть вірний логін/пароль</div> -->
      </div>
      <button type="submit" class="btn-sm enterBtn">Увійти</button>
      <button type="button" class="btn-sm registBtn" (click)="registration()">Зареєструватись</button>
    </form>

  </div>




  <div *ngIf="signStatus" class='fullRegistration'>
    <form [formGroup]="form01">
      <input type="hidden" name="id" formControlName="id">
      <input type="hidden" name="isAdmin" formControlName="isAdmin">
      <div class="form-group row">
        <input type="text" class="form-control" name="firstName" formControlName="firstName" placeholder="Ім'я"
          pattern="[A-Za-z\u0400-\u04FF][a-z\u0400-\u04FF]{1,19}" required>
        <div *ngIf="form01.controls.firstName.errors?.pattern" class="validation-error">
          Введіть тільки буквенні символи
        </div>
      </div>
      <div class="form-group row">
        <input type="text" class="form-control" name="lastName" formControlName="lastName" placeholder="Прізвище"
          pattern="[A-Za-z\u0400-\u04FF][a-z\u0400-\u04FF]{1,19}" required>
        <div *ngIf="form01.controls.lastName.errors?.pattern" class="validation-error">
          Введіть тільки буквенні символи
        </div>
      </div>
      <div class="form-group row">
        <input type="text" [textMask]="{mask: phoneMask}" class="form-control" name="phone" formControlName="phone"
          placeholder="+38(0ХХ)-ХХХ-ХХ-ХХ" required>
      </div>
      <div class="form-group row">
        <input type="text" class="form-control" name="address" formControlName="address" placeholder="Адреса доставки">
        <div *ngIf="form01.controls.address.errors?.pattern" class="validation-error">
          Введіть більш детальну адресу
        </div>
      </div>
      <form [formGroup]="passwords">
        <div class="form-group row fieldPassword">
          <input [type]="show ? 'text' : 'password'" class="form-control" name="password" formControlName="password"
            placeholder="Пароль не менше 6 символів" required>
          <span class="passwordEye" (click)="showPassword()"></span>
        </div>
        <!-- <div *ngIf="password.invalid && password.touched" class="validation-error">Введіть пароль</div> -->



        <div class="form-group row">
          <input class="form-control" placeholder="Повторіть пароль" name="confirmPassword"
            formControlName="confirmPassword" required>
        </div>
        <!-- <div *ngIf="form01.passwords.password.controls.value != form01.passwords.confirmPassword.controls.value" class="validation-error">Введіть пароль</div> -->
      </form>
      <!-- <h4>Valid : {{ changePasswordForm.valid  }}</h4> -->
      <!-- <div *ngIf="confirmPassword.errors?.equalTo" class="validation-error">Паролі не співпадають</div> -->
      <!-- <div class="validation-error">Паролі не співпадають</div> -->



      <div class="form-group row">
        <input type="email" class="form-control" name="email" formControlName="email" placeholder="email" required>
        <div *ngIf="form01.controls.email.errors?.pattern" class="validation-error">
          Введіть вірний email
        </div>
      </div>
      <div class="form-group row registrationButton">
        <!-- <button (click)="registrationFull(firstName,lastName,phone,address, password, email)"
          class="btn-sm">Зареєструватися</button> -->
        <input type="button" [disabled]="!form01.valid" (click)="addOrder()" value="Зареєструватись"
          class="btn btn-lg btn-block btn-info">
      </div>
    </form>
  </div>
</div>
