<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
  <input type="hidden" name="categoryId" #id="ngModel" [(ngModel)]="service.formData.categoryId">
  <input type="hidden" name="categoryName" #id="ngModel" [(ngModel)]="service.formData.categoryName">

  <div class="form-group">
    <input name="name" #name="ngModel" [(ngModel)]="service.formData.name" class="form-control"
      placeholder="Product Name" required>
    <div *ngIf="name.invalid && name.touched" class="validation-error">This field is required.</div>
  </div>

  <div class="form-group">
    <input type="number" name="counter" #counter="ngModel" [(ngModel)]="service.formData.counter" class="form-control"
      placeholder="Counter" pattern="[1-9]{1,}" required>
    <!-- <div *ngIf="counter.invalid " class="validation-error">Введіть кількість відмінну від 0</div> -->
  </div>

  <div class="form-group bootstrap-select show-tick open">
    <select class="custom-select" [(ngModel)]="service.formData.year" #year="ngModel" name="year" required>
      <option selected="" value="-1"> — будь-який рік — </option>
      <option>1991</option>
      <option>1992</option>
      <option>1993</option>
      <option>1994</option>
      <option>1995</option>
      <option>1996</option>
      <option>1997</option>
      <option>1998</option>
      <option>1999</option>
      <option>2000</option>
      <option>2001</option>
      <option>2002</option>
      <option>2003</option>
      <option>2004</option>
      <option>2005</option>
      <option>2006</option>
      <option>2007</option>
      <option>2008</option>
      <option>2009</option>
      <option>2010</option>
      <option>2011</option>
      <option>2012</option>
      <option>2013</option>
      <option>2014</option>
      <option>2015</option>
      <option>2016</option>
      <option>2017</option>
      <option>2018</option>
      <option>2019</option>
      <option>2020</option>
      <option>2021</option>
      <option>2022</option>
      <option>2023</option>
      <option>2024</option>
      <option>2025</option>
    </select>
  </div>

  <div class="form-group bootstrap-select show-tick open">
    <select class="custom-select" [(ngModel)]="service.formData.signature" name="signature" #signature="ngModel"
      required>
      <option selected="" value="-1"> — будь-який підпис — </option>
      <option> Матвієнко Володимир Павлович </option>
      <option> Гетьман Вадим Петрович </option>
      <option> Ющенко Віктор Андрійович</option>
      <option> Стельмах Володимир Семенович</option>
      <option> Тігіпко Сергій Леонідович</option>
      <option> Арбузов Сергій Геннадійович </option>
      <option> Соркін Ігор В'ячеславович</option>
      <option> Кубів Степан Іванович</option>
      <option> Гонтарева Валерія Олексіївна</option>
      <option> Смолій Яків Васильович</option>
    </select>
  </div>

  <div class="form-group bootstrap-select show-tick open">
    <select class="custom-select" [(ngModel)]="service.formData.denomination" name="denomination"
      #denomination="ngModel" required>
      <option selected="" value="-1"> — будь-який номінал — </option>
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>5</option>
      <option>10</option>
      <option>20</option>
      <option>50</option>
      <option>100</option>
      <option>125</option>
      <option>180</option>
      <option>200</option>
      <option>250</option>
      <option>540</option>
      <option>1080</option>
      <option>200 000</option>
      <option>1 000 000</option>
      <option>2 000 000</option>
    </select>
  </div>

  <div class="form-group">
    <textarea type="text" name="description" #description="ngModel" [(ngModel)]="service.formData.description"
      class="form-control" [attr.placeholder]="Description">
        </textarea>
  </div>

  <div class="form-group">
    <input type="number" name="price" #price="ngModel" [(ngModel)]="service.formData.price" class="form-control"
      placeholder="Product Price" required>
  </div>

  <!-- <input type="hidden" name="image" #image="ngModel" [(ngModel)]="service.formData.image"> -->
  <div class="form-group row">
    <div class="card-body">
      <h5 class="card-title">Select a file for upload:</h5>
      <input class="form-control" placeholder="Product image" required type="file" [value]="service.formData.image"
        (change)="upload($event)" accept=".png,.jpg">
      <br><br>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
          [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>
      <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
        File uploaded:
        <input *ngIf="downloadURL | async; let downloadSrc" type="hidden">
        <a [href]="downloadSrc">{{downloadSrc}}</a>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
  </div>

</form>
