.littleImage{
    height: 60px;
    width: px;
  }
  .showImages{
    width: 100%;
    margin: 1% 3%;
  }
  .showImages tr td{
    margin: 0 auto;
  }
  table{
    text-align: left;
  }
  .btnDelete {
    background-color: #f2bd0b;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    padding: 0px 5px;
    text-align: center;
    font-size: 14px;
  }