<div class="container-fluid">
  <section class="search">
    <input type="text" [(ngModel)]="searchName" name="searchName" class="form-control" placeholder="Search">
  </section>

  <div class="main">

    <section class="filters">

      <form>
        <div class="h5 filter_name">
          <span data-language="features_other_filter">Ціна</span>
        </div>
        <div class="filter_group price-slider" *ngIf="minValue && maxValue">
          <p>Min: <input type="number" name='minValue' [(ngModel)]="minValue"></p>
          <p>Max: <input type="number" name='maxValue' [(ngModel)]="maxValue"></p>
          <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
        </div>

        <div class="h5 filter_name">
          <span data-language="features_other_filter">Підпис Голови НБУ</span>
        </div>
        <div class="form-group bootstrap-select show-tick open">
          <select class="custom-select" [(ngModel)]="signature" name="signature" required>
            <option selected="" value="-1"> — будь-який підпис — </option>
            <option> Матвієнко Володимир Павлович </option>
            <option> Гетьман Вадим Петрович </option>
            <option> Ющенко Віктор Андрійович</option>
            <option> Стельмах Володимир Семенович</option>
            <option> Тігіпко Сергій Леонідович</option>
            <option> Арбузов Сергій Геннадійович </option>
            <option> Соркін Ігор В'ячеславович</option>
            <option> Кубів Степан Іванович</option>
            <option> Гонтарева Валерія Олексіївна</option>
            <option> Смолій Яків Васильович</option>
          </select>
        </div>

        <div class="h5 filter_name">
          <span data-language="features_other_filter">Рік</span>
        </div>
        <div class="form-group bootstrap-select show-tick open">
          <select class="custom-select" [(ngModel)]="year" name="year" required>
            <option selected="" value="-1"> — будь-який рік — </option>
            <option>1991</option>
            <option>1992</option>
            <option>1993</option>
            <option>1994</option>
            <option>1995</option>
            <option>1996</option>
            <option>1997</option>
            <option>1998</option>
            <option>1999</option>
            <option>2000</option>
            <option>2001</option>
            <option>2002</option>
            <option>2003</option>
            <option>2004</option>
            <option>2005</option>
            <option>2006</option>
            <option>2007</option>
            <option>2008</option>
            <option>2009</option>
            <option>2010</option>
            <option>2011</option>
            <option>2012</option>
            <option>2013</option>
            <option>2014</option>
            <option>2015</option>
            <option>2016</option>
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
            <option>2022</option>
            <option>2023</option>
            <option>2024</option>
            <option>2025</option>
          </select>
        </div>



        <div class="h5 filter_name">
          <span data-language="features_other_filter">Номінал</span>
        </div>
        <div class="form-group bootstrap-select show-tick open">
          <select class="custom-select" [(ngModel)]="denomination" name="denomination" required>
            <option selected="" value="-1"> — будь-який номінал — </option>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
            <option>125</option>
            <option>180</option>
            <option>200</option>
            <option>250</option>
            <option>540</option>
            <option>1080</option>
            <option>200 000</option>
            <option>1 000 000</option>
            <option>2 000 000</option>
          </select>
        </div>
      </form>

    </section>
    <section class="catalog">
      <figure class="product" *ngFor="let banknote of list | searchCoin:searchName | filterPrice:minValue:maxValue">
        <img [attr.src]="banknote.image" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="title">{{ banknote.name }}</p>
          <p class="price">{{ banknote.price }} грн</p>
          <div class="button-group">
            <!-- <button href="#" class="moreDetails h6">Детальніше</a> -->
            <input type="button" [routerLink]="[ '/product',  banknote.categoryName, banknote.id ]"
              class="moreDetails h6" value="Детальніше">
            <input type="button" class="buy h6" (click)="buyProduct(banknote)" value="Купити">
            <!-- <a href="#" class="buy h6">Купити</a> -->
          </div>
        </div>
      </figure>
    </section>

  </div>
</div>
