<div class="container-fluid">
  <input type="text" [hidden]="!searchField" value={{searchName}}>
  <div class="main">
    <section class="filters">

      <form>
        <div class="boxFilter">
          <div class="filter_name"> Ціна</div>
          <div class="filter_group price_slider" *ngIf="minValue && maxValue">
            <div class="minMaxField">
              <p class="minValue">від
                <input type="number" class="form-control" name='minValue' [(ngModel)]="minValue">
              </p>
              <p class="maxValue">до
                <input type="number" class="form-control" name='maxValue' [(ngModel)]="maxValue">
              </p>
            </div>
            <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
          </div>
        </div>
      </form>

    </section>

    <section class="catalog">
      <figure class="product" *ngFor="let accessory of list | searchCoin:searchName | filterPrice:minValue:maxValue">
        <img [attr.src]="accessory.image" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="title">{{ accessory.name }}</p>
          <p class="price">{{ accessory.price }} грн</p>
          <div class="button-group">
            <input type="button" [routerLink]="[ '/product',  accessory.categoryName, accessory.id ]"
              class="moreDetails" value="Детальніше">
            <input type="button" class="buy" value="Купити">
            <!-- <input type="button" class="buy" (click)="buyProduct(accessory)" value="Купити"> -->
          </div>
        </div>
      </figure>
    </section>

  </div>
</div>
