body {
  overflow-x: hidden;
  background-color: black;
  background: url(https://firebasestorage.googleapis.com/v0/b/test-dd969.appspot.com/o/images%2FworkImages%2F1.jpg?alt=media&token=dc2a674b-3dab-487a-962a-668b10ad238f);
  background-repeat: no-repeat;
  font-family: Courier;
  background-size: cover;
  background-attachment: fixed;
}

.product {
  padding: 0.5%;
  width: 22%;
  height: auto;
  opacity: 0.9;
  text-align: center;
  border: 1px solid #f2bd0b;
  border-radius: 3px;
  transition: 0.7s;
  background-color: white;
  transition-property: transform;
 
}
